@{Layout = "";}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
    <script src="~/Scripts/js/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/js/bootstrap-validation.js"></script>
    <style type="text/css">
        body {
            background: url('images/bg_suburb.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .panel-default {
            opacity: 0.9;
            margin-top: 30px;
        }

        .form-group.last {
            margin-bottom: 0px;
        }

        .login-wrpr {
            background-color: #e7f1fb;
        }

            .login-wrpr .panel-heading {
                text-align: center;
            }

        .email {
            background-image: url('../../images/icon/icon-mail.svg') !important;
            background-repeat: no-repeat !important;
            background-size: 20px !important;
            background-position: 6px 5px !important;
            background-color: transparent !important;
            padding: 7px 35px;
            color: #b0b1b2;
            width: 100%;
            border: 1px solid #000;
            border: 1px solid #dfe8f1;
            margin-bottom:10px;
        }

            .email:focus {
                background-image: url('../../images/icon/icon-mail.svg') !important;
                color: #fff;
            }

        .password {
            background-image: url('../../images/icon/icon-key.svg') !important;
            background-repeat: no-repeat !important;
            background-size: 20px !important;
            background-position: 6px 5px !important;
            background-color: transparent !important;
            padding: 7px 35px;
            color: #b0b1b2;
            width: 100%;
            border: 1px solid #000;
            border: 1px solid #dfe8f1;
            margin-bottom:10px;
        }

            .password:focus {
                background-image: url('../../images/icon/icon-key.svg') !important;
                color: #fff;
            }
    </style>
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.css" />

    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css" />
</head>

<body class="login-wrpr">
    <div id="page-header" class="bg-gradient-9">
        <div id="mobile-navigation">
            <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#page-sidebar">
                <span></span>
            </button>
            <a href="#" class="logo-content-small" title="MonarchUI"></a>
        </div>
        <div id="header-logo" class="logo-bg">
            <a href="#" class="logo-content-big" title="Learning Managment System">
                Learning Managment System
                <i>UI</i>
                <span>The perfect solution for Learning</span>
            </a>
            <a href="index.html" class="logo-content-small" title="Learning Managment System">
                Monarch
                <i>UI</i>
                <span>The perfect solution for Learning</span>
            </a>

        </div>

        <!-- #header-nav-left -->

        <div id="header-nav-right">
        </div>
        <!-- #header-nav-right -->

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default" style="margin-top: 100px;">
                    <div class="panel-heading"> <strong class="">Change Password</strong> </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("ChangePassword","Admin",FormMethod.Post))
                        {

                            <div id="identicalForm">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="email" class="email" value=@ViewBag.Email id="Email" name="Email" placeholder="Email" required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="password" class="password" id="Password" name="Password" placeholder="Password" required="true">
                                </div>
                                <div class="col-sm-12">
                                    <input type="password" class="password" id="NewPassword" name="NewPassword" placeholder="NewPassword" required="true">
                                </div>
                                <div class="col-sm-12">
                                    <input type="password" class="password" id="ConfirmNewPassword" name="ConfirmPassword" placeholder="ConfirmPassword" required="true">
                                    <label id="ConfirmPassLabel"></label>
                                </div>
                            </div>

                            <div class="form-group last">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary btn-sm">Change Password</button>
                                    <button type="reset" class="btn btn-default btn-sm">Reset</button>

                                </div>
                                
                            </div>
                            </div>
                        }
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </body>
</html>

