@model M3LMS.ViewModels.Admin

@{
    ViewBag.Title = "Index";
}

<div class="panel" id="link-content">
    <div class="panel-body">
        <div class="page-heading">
            <h2 class="pull-left">Dashboard</h2>
            </div>
        </div>
    </div>
@section Scripts
{

@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}