@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="tutorial">
    <div id="videotitles" style="width:200px;height:400px;float:left;margin-left:100px;padding:50px;">
        <ul>
            <li><a href="~/Tutorials/Videos/Clip1 M3.mp4" target="_videotitles">clip -1</a> </li>
            <li>Clip -2</li>
            <li>Clip -3</li>
        </ul>
    </div>
    <div id="videotitles" style="width:500px;height:400px;float:left;">
        <iframe name="_videotitles">
        </iframe>
    </div>

</div>
